@import "tailwindcss";
*{
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
body {
  margin: 0;
}
html, body {
  overflow-x: hidden;
}
.black-overlay{
  background-color: rgba(0,0,0,0.7);
}
.img-overlay{
  background-image: linear-gradient(to bottom ,rgba(255,255,255,0) 60% ,rgba(0,0,0,1) );
}
