@import "tailwindcss";
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.black-overlay{
  background-color: rgba(0,0,0,0.7);
}
.img-overlay{
  background-image: linear-gradient(to bottom ,rgba(255,255,255,0) 60% ,rgba(0,0,0,1) );
}
